@use 'arrow';

@import url('https://fonts.googleapis.com/css2?family=Luxurious+Roman&family=Montserrat:wght@200,100,300,400,500,600&family=Open+Sans:wdth,wght@96.5,800&family=Raleway:wght@228&family=Roboto:wght@300&family=Rubik+Mono+One&display=swap');
@keyframes opacity{
    0% {
        opacity:1;
    }
    100%{
        opacity:0;
    }
}
// $selection-arrow-width: 20em;
$selection-arrow-height: 40px;
$selection-arrow-width: 400px;
$arrow-color: #c69c6d;
$darkblueColor:#594aaf;
$leftpadding: 70px;
$padding-right:20px;
$content-width:60%;
$font-default: 'Montserrat', sans-serif;
$arrow-Color:rgb(231, 206, 63);
$feedback__text: 0.75em;
%title--gold{
    color: $arrow-Color;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 3em;
    font-weight: 200;
    margin-bottom: 0.1em;
    z-index: 20;
}
%title--white{
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 3.2em;
    font-weight: 200;
    margin-bottom: 0.1em;
    z-index: 20;
}
%block-background{
    background-size: 100% auto;
    background-position: center;
    background-repeat: no-repeat;
}
%block{
    min-width: 500px;
}
%adaptive-widht{
    @media screen and (max-width:1140px) {
        width: 68%;
    }
    @media screen and (max-width:992px) {
        width: 92%;
    }
    @media screen and (max-width:768px) {
        width: 98%;
    }
    @media screen and (max-width:576px) {
        width: 100%;
    }
}
%flex-col{
    display: flex;
    flex-direction: column;
}
%title{
    text-transform: uppercase;
    font-size: 1.1em;
}
%arrow{
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    text-transform: uppercase;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 70px;
    width: max-content;
    min-width: 15em;
    display: flex;
    justify-content: center;
    align-items: center;   
    font-size: 1.1em;
    padding:0 20px;
}
.title--white{
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 3em;
    font-weight: 100;
    margin-bottom: 0.1em;
    z-index: 20;
}
h1 {
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    font-size: 58px;
    margin-bottom: 40px;
}
h2 {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 4em;
    font-weight: 200;
    margin-bottom: 0.1em;
    z-index: 20;
    
}

h3 {
   
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 1.5em;
    margin-top: 0px;
    
}
h4{
    text-transform: uppercase;
    font-size: 1.1em;
}
.selection{
    position:relative;
    display: flex;
    align-items: center;
}


.content {
    position: relative;
    background-color: transparent;
    width: $content-width;
    display: flex;
    flex-direction: column;
    z-index: 0;
    overflow: visible;
    min-height: 20em;
    display: flex;
    height: 100%;
    margin: 0 auto;
    padding-top: 0.3em;
    padding-right: 1em;
    padding-left: 1em;
    padding-bottom: 1em;
    box-sizing: border-box;
    background-position: right;
    background-repeat: no-repeat;
    @media screen and (max-width:1140px) {
        width: 68%;
        font-size: smaller;
    }
    @media screen and (max-width:992px) {
        width: 90%;
        font-size: small;
    }
    @media screen and (max-width:768px) {
        width: 90%;
        font-size: small;
    }
    @media screen and (max-width:576px) {
        width: 100%;
        font-size: small;
    }

}
.left-content{
    display: inline;
    float:left;
    width: 50%;
}
.arrow-right{
    background-image: url('./img/arrow.png');
    @extend %arrow;
    padding: 0 4% 0 2%;

}
.arrow-left{
    background-image: url('./img/arrow-left.png');
    @extend %arrow;
    padding: 0 2% 0 4%;

}
#registration{
    float: right;
    width: min-content;
    p{
        
        color: $darkblueColor;
        display: block;
        text-align: right;
        
    }
}
.block{
    width: 100vw;
    overflow: hidden;
    position: relative;
    margin: 1em 0;
    box-sizing: border-box;
    min-height: 300px;
    background-size: 100% auto;
    background-repeat: no-repeat;

}

.right-content{
    margin-top: 50px;
    float: right;
    width: max-content;
    display: flex;

}
.flexrow__elem{
    position: static;
    flex-direction: column-reverse;
    display: flex;
    width: 24%;
    @media screen and (max-width:1140px) {
        min-height: 620px;
        width: 100%;
        flex-direction: row-reverse;
        min-height: auto;

    }
    @media screen and (max-width:992px) {
        min-height: 600px;
        flex-direction: row-reverse;
        width: 100%;
        min-height: auto;
    }
    @media screen and (max-width:768px) {
        flex-direction: row-reverse;
        width: 100%;
        min-height: auto;
    }
    @media screen and (max-width:576px) {
        flex-direction: row-reverse;
        width: 100%;
        min-height: auto;
    }
    .flexrow__text{
        display:flex;
        flex-direction: column;
        flex:2;
        font-size: 1.1em;
        box-sizing: border-box;
        text-align: center;
        padding: 3px ;
        position: relative;
        bottom: 0px;
        width: 100%;
        min-height: 410px;
        height: max-content;
        background-color: #594aaf;
        @media screen and (max-width:1140px) {
            width: auto;
            min-height: auto;
        }
        @media screen and (max-width:992px) {
            width: auto;
            min-height: auto;
        }
        @media screen and (max-width:768px) {
            min-height: auto;
        }
        @media screen and (max-width:576px) {
            min-height: auto;
        }
    }
    .flexrow__icon{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        object-position: center bottom;
        width: 60%;
        margin: 0 auto 1em;
        @media screen and (max-width:1140px) {
            width: auto;
            height: 100%;
        }
        @media screen and (max-width:992px) {
            width: auto;
            height: 100%;
        }
        @media screen and (max-width:768px) {
            width: auto;
            display: none;
        }
        @media screen and (max-width:576px) {
            width: auto;
            display: none;
        }
        
    }
}


.header-top{
    width: $content-width;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    box-sizing: border-box;
    margin: 0 auto;
    padding:3p 5px 6px 0;
}
body{
    font-size: 14px;
    color: #d0d0d0;
    background-color: black;
    background-image: url(./img/back.png);
    position: relative;
    display: flex;
    flex-direction: column;
    align-content: space-around;
    font-family: 'Montserrat', sans-serif;
    .top-container{
        position: fixed;
        z-index: 999;
        width: 100vw;
        justify-content: flex-end;
        .phone {
            display: flex;
            margin-bottom: 1px;
            box-sizing: border-box;
            height: 48px;
            width: 500px;
            border: 1px solid #F9C789;
            .phone-number {
                font-size: large;
                color: antiquewhite;
                font-family: 'Rubik Mono One', sans-serif;
                flex: 3.5;
                text-align: center;
                align-items: center;
                padding: 0.5999999999999973em 0 0 0;
            }
            
            .phone-text {
                background-color: #D3A15B;
                display: flex;
                align-items:center;
                flex: 1;
                text-transform: uppercase;
                justify-content: center;
                font-family: "Open-Sans", sans-serif;
                font-size: xx-small;
                padding-left: 0.29999999999999716em;
                box-sizing: border-box;
                flex-direction: row;
                align-items: center;
            }
        }
        .header-menu-container{
            background-size: 100% 100%;
            background-image: url('./img/header.png');
            margin: 0 auto;
            height: 75px;
            width: 100%;
            justify-content: space-between;
            .header-menu{
                margin: 0 auto;
                font-family: $font-default;
                color: $arrow-color;
                font-weight: 200;
                text-transform: uppercase;
                display: flex;
                height: 75px;
                width: $content-width;
                justify-content: space-between;
                @extend %adaptive-widht;

            }
            .header-circle {
                border-radius: 50%;
                width: 100px;
                height: 100px;
                background: #F9C789DD;
                backdrop-filter: blur(2px);
                background-clip: padding-box;
                z-index: 9999;
                border: 7px solid #F9C78933;
                align-content: center;
                justify-content: center;
                display: flex;
                animation: opacity 1s ease-in-out infinite;
                animation-direction: alternate;
            }
            .header-circle>img {
                padding-top: 10px;
                width: 70%;
                height: 70%;
            }
            
            .header-elem {
                height: 100%;
                width: 90%;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            
            .header-elem:hover {
                background: #ffd8a870;
                box-shadow: 10px rgba(255, 184, 70, 0.527);
            }
            
            .header-leftSide, .header-rightSide {
                font-family: 'Montserrat', sans-serif;
                display: flex;
                align-items: center;
                width: 39%;
                height: 100%;
                justify-content: space-evenly;
            }
            
            .header-rightSide {
                margin-right: 19px;
            }
            
            .header-elem:active {
                background-color: #48006CD1;
            }
    }
    }

.main-content {
        margin-top: 150px;
        position: relative;     
        .block1{
            border-bottom: 35px solid #c69c6d9d;
            box-shadow: 2px red;
            #persefona{
                position: absolute;
                z-index: -1;
                right: -199px;
                top: -258px;
            }
            .text{
                width: 58%;
                box-sizing: border-box;
            }
        }
        .block2{
            background-image: url(./img/bg2.png);
            z-index: -10;
            overflow: hidden;
            height: auto;
            box-sizing: border-box;
            h2{
                text-align: right;
                color: #aca5d7;
                text-shadow: 0.04em 0.06em #594aaf;
            }
            h3{
                text-align: right;
                color: #aca5d7;
                text-shadow: 0.04em 0.06em #594aaf;
            }
            #molot {
                position: absolute;
                bottom: -80px;
                z-index: -1;
                max-height: 50%;
                height: 50%;
                right: -22%;
            }
            .block2-blur{
                position: absolute;
                z-index: -1;
                top: 0;
                left: 0;
                margin: 0 auto;
                width: 100%;
                /* color: #140f27da; */
                background: #5a48a0c4;
                backdrop-filter: blur(3.8px);
                height: 100%;
            }
            .block2-list {

                margin-top: 60px;
                z-index: 5;
                color: ghostwhite;
                font-size: 1.5em;
                font-weight: 300;
                .block2-list1{
                    margin-left:1em;
                }
                .block2-list2 {
                    $list2fontsize:1.2em;
                    margin-left: 0px;
                    list-style: none;
                    line-height: 1.7em;
                    color: white;
                    text-transform: uppercase;
                    font-weight: 700;
                    display: block;

                    
                }

            }
        }
        .adventages{

            .adv-list{
                margin: 4px 0 0;
                width: 100%;
                min-height: 400px;
                height: max-content;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-evenly;
                align-items: flex-end;
    
                




        }


    }
    }
}

.feedback{
    .content{
        .feedback-elems{
            margin: 0 auto;
            display: grid;
            grid-gap: 10px;
            grid-template-columns: auto;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            width: 650px;
            min-height: 500px;
            .feedback-elem{
                display: flex;
                height: max-content;
                align-items: center;
                position: relative;
                .feedback-elem__photo{
                    background-image: url(./img/feedback__photo.png);
                    height: 180px;
                    width: 180px;
                    margin-right: -90px;
                }
                .feedback-elem__background{
                    position: relative;
                    z-index: -1;
                    border-top: 133px solid blue;
                    border-left: 335px solid blue;
                    border-right: 57px solid transparent;

                }
                .feedback-elem__text{
                    position: absolute;
                    right:56px;
                    top:20px;
                    font-size: $feedback__text;
                    width: 240px;

                }
                .feedback-elem__info{
                    position: relative;

                }


            }
        }

    }
    background-image: url('./img/4.jpg');
    @extend %block-background;

}
.feedback-elem--reverse{
    flex-direction: row-reverse;
}
.feedback-elem__photo--reverse{
    background-image: url(./img/feedback__photo.png);
    height: 180px;
    width: 180px;
    margin-right: 0px;
    

}
.feedback-elem__background--reverse{
    position: relative;
    z-index: -1;
    margin-right: -90px;
    border-top: 133px solid blue;
    border-left: 57px solid transparent;
    border-right: 335px solid blue;
}
.feedback-elem__text--reverse{
    position: absolute;
    right:0px;
    top:10px;
    font-size: $feedback__text;
    width: 240px;
}