@use 'arrow';
@use './scss_components/variables' as *;
@import url('https://fonts.googleapis.com/css2?family=Luxurious+Roman&family=Montserrat:wght@200,100,300,400,500,600&family=Open+Sans:wdth,wght@96.5,800&family=Raleway:wght@228&family=Roboto:wght@300&family=Rubik+Mono+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500&display=swap');
@keyframes opacity{
    0% {
        opacity:1;
    }
    100%{
        opacity:0;
    }
}


%title--white{
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 3.2em;
    font-weight: 200;
    margin-bottom: 0.1em;
    z-index: 20;
}
%block-background{
    background-size: 100% auto;
    background-position: center;
    background-repeat: no-repeat;
}
%block{
    min-width: 500px;
}
@mixin adaptiveWidth() {
    @media screen and (max-width:1140px) {
        width: 68%;
    }
    @media screen and (max-width:992px) {
        width: 92%;
    }
    @media screen and (max-width:768px) {
        width: 98%;
    }
    @media screen and (max-width:576px) {
        width: 100%;
    }
}

%flex-col{
    display: flex;
    flex-direction: column;
}
%title{
    text-transform: uppercase;
    font-size: 1.1em;
}
%arrow{
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    text-transform: uppercase;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 70px;
    width: max-content;
    display: flex;
    justify-content: center;
    align-items: center;   
    font-size: 0.9em;
    padding:0 20px;
}

.title--white{
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 3em;
    line-height: 1.2em;
    font-weight: 400;
    z-index: 20;
}
li {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
h1 {
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    font-size: 42px;
    margin-bottom: 40px;
    font-weight: 900;
    color: white;
}
h2 {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 2.8em;
    font-weight: 400;
    margin-bottom: 0.1em;
    z-index: 20;
    
}

h3 {
   
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 1.5em;
    margin-top: 0px;
    
}
h4{
    text-transform: uppercase;
    font-size: 1.2pem;
    font-weight: 600;
}
.selection{
    position:relative;
    display: flex;
    align-items: center;
    width: 40%;
}


.content {
    position: relative;
    background-color: transparent;
    width: $content-width;
    display: flex;  
    flex-direction: column;
    z-index: 0;
    overflow: visible;
    min-height: 20em;
    display: flex;
    height: 100%;
    margin: 0 auto;
    padding-top: 0.3em;
    padding-right: 1em;
    padding-left: 1em;
    box-sizing: border-box;
    background-position: right;
    background-repeat: no-repeat;
    @media screen and (max-width:1140px) {
        width: 68%;
        font-size: smaller;
    }
    @media screen and (max-width:992px) {
        width: 90%;
        font-size: small;
    }
    @media screen and (max-width:768px) {
        width: 70%;
        font-size: small;
    }
    @media screen and (max-width:576px) {
        width: 900px;
        font-size: small;
    }

}
.content__main{
    position: relative;
}
.block2__left-content{
    width: 100%;
}
.arrow-right{
    background-image: url('./img/arrow.png');
    @extend %arrow;
    padding: 0 4% 0 2%;
    &:hover{
        opacity: 0.7;
    }

}
.arrow-left{
    background-image: url('./img/arrow-left.png');
    @extend %arrow;
    font-size: 1.2em;
    padding: 0 34px 0 45px;
    &:hover{
        opacity: 0.7;
    }

}
#registration{
    font-size: 1.1em;
    float: right;
    width: min-content;
    p{
        margin-top: 5px;
        color: $darkblueColor;
        display: block;
        text-align: right;
        font-size: 0.9rem;
        
    }
}
.block{
    width: 100%;
    overflow: hidden;
    position: relative;
    margin:0 auto;
    box-sizing: border-box;
    min-height: 512px;
    background-size: 100% auto;
    background-repeat: no-repeat;
    @media screen and (max-width:1140px){
        background-size: auto 100%;
    }

}

.block2__right-content{
    margin-top: 50px;
    top: 0px;
    right: 0px;
    position: absolute;
    width: max-content;
    display: flex;

}
.flexrow__elem{
    position: static;
    flex-direction: column-reverse;
    display: flex;
    width: 207px;
    .flexrow__icon{
        width: 64%;
        $marginBottom: 10px;
        margin: 0 auto;
        padding-bottom: 10px;
        @media screen and (max-width:1140px) {
            width: auto;
            height: 100%;
        }
        @media screen and (max-width:992px) {
            width: auto;
            height: 100%;
        }
        @media screen and (max-width:768px) {
            width: auto;
            display: none;
        }
        @media screen and (max-width:576px) {
            width: auto;
            display: none;
        }
        
    }
    &:nth-child(1){
        .flexrow__icon{
            margin-bottom: -30px;
            z-index: 2;
        }
    }
    .flexrow__text{
        display:flex;
        flex-direction: column;
        flex:2;
        font-size: 0.8em;
        font-weight: 500;
        box-sizing: border-box;
    
        text-align: center;
        padding: 20px 15px 5px 15px ;
        position: relative;
        bottom: 0px;
        width: 100%;
        min-height: 320px;
        // min-height: 410px;
        height: max-content;
        background-color: $feedback__elem-background;
        h4{
            font-size: 0.9em;
        }
        p{
            font-size: 0.8em;
        }
    @media screen and (max-width:1140px) {
        min-height: 620px;
        width: 100%;
        flex-direction: row-reverse;
        min-height: auto;

    }
    @media screen and (max-width:992px) {
        min-height: 600px;
        flex-direction: row-reverse;
        width: 100%;
        min-height: auto;
    }
    @media screen and (max-width:768px) {
        flex-direction: row-reverse;
        width: 100%;
        min-height: auto;
    }
    @media screen and (max-width:576px) {
        flex-direction: row-reverse;
        width: 100%;
        min-height: auto;
    }


}
    @media screen and (max-width:1140px) {
        width: auto;
        min-height: auto;
    }
    @media screen and (max-width:992px) {
        width: auto;
        min-height: auto;
    }
    @media screen and (max-width:768px) {
        min-height: auto;
    }
    @media screen and (max-width:576px) {
        min-height: auto;
    }
}
.phone {
    margin: 5px 0 8px 0 ;
    display: flex;
    margin-bottom: 5px;
    margin-top: 5px;
    box-sizing: border-box;
    height: 48px;
    width: 280px;
    border: 1px solid #F9C789;
    .phone-number {
        font-size: large;
        color: antiquewhite;
        font-weight: 800;
        font-family: 'Rubik Mono One', sans-serif;
        flex: 3.5;
        text-align: center;
        align-items: center;
        padding: 0.5999999999999973em 0 0 0;
    }
    
    .phone-text {
        background-color: $biegeColor;
        display: flex;
        align-items:center;
        flex: 1;
        text-transform: uppercase;
        justify-content: center;
        font-family: "Open-Sans", sans-serif;
        font-size: xx-small;
        padding-left: 0.3em;
        box-sizing: border-box;
        flex-direction: row;
        align-items: center;
    }
}
.header-top{
    width: 1275px;
    padding-right: 280px;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    box-sizing: border-box;
    margin: 0 auto;
    padding:3p 5px 6px 0;
}
.top-blur{
    backdrop-filter: blur(5px);
    height: 100%;
    width: 100%;
    z-index: -1;
    position: absolute;
    top: 0px;
}
.header-menu{
  @include adaptiveWidth;
  margin: 0 auto;
  font-family: $font-default;
  color: $arrow-color;
  font-weight: 200;
  text-transform: uppercase;
  display: flex;
  height: 75px;
  width: 62%;
  justify-content: space-between;
  align-items: center;
  
  
   

}
.top-container{
    position: fixed;
    z-index: 999;
    width: 100vw;
    margin: 0 auto;
    justify-content: flex-end;

    .header-menu-container{
        background-size: 100% 100%;
        background-image: url('./img/header.png');
        margin: 0 auto;
        height: 75px;
        justify-content: space-between;
        width: 1275px;
        // @include adaptiveWidth;

        .header-logo {
            background-image: url('./img/logo.png');
            background-position: center;
            background-repeat: no-repeat;
            border-radius: 50%;
            background-size: cover;
            width: 140px;
            height: 140px;
            // animation: opacity 1s ease-in-out infinite;
            // animation-direction: alternate;
        }
        .header-elem {
            height: 100%;
            width: 90%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        
        .header-elem:hover {
            background: #ffd8a870;
            box-shadow: 10px rgba(255, 184, 70, 0.527);
        }
        
        .header-leftSide, .header-rightSide {
            font-family: 'Montserrat', sans-serif;
            display: flex;
            align-items: center;
            width: 39%;
            height: 100%;
            justify-content: space-evenly;

        }
        
        .header-rightSide {
            margin-right: 19px;
        }
        
        .header-elem:active {
            background-color: #48006CD1;
        }
}
}
#persefona{
    position: absolute;
    z-index: -1;
    right: -199px;
    top: -258px;
}

.block1{
    position: relative;
    padding-bottom: 45px;
    border-bottom: 17px solid $lightBiegeColor;
    box-shadow: 2px red;

    &:after{
        content: '';
        display: block;
        position: absolute;
        bottom: -2px;
        width: 100%;
        height: 10px;
        background: linear-gradient($biegeColor, $biegeColor);
    }

}
.text-leftBorder{

    width: 58%;
    border-left: 1px solid $biegeColor;
    padding-left: 20px;
    margin-left: -20px;
    margin-bottom: 15px;
    &::after{
        content: '';

    }
}
.main-content {
    margin: 150px auto 0px;
    position: relative;     
    width: 1275px;
    background-image: url(./img/back.png);
    background-size: cover;

}
.adventages{

    .adventages-list{
        margin: -55px 0 0 -8%;

        width: 116%;
        min-height: 400px;
        height: max-content;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-end;
}


}
body{
    font-size: 18px;
    color: #d0d0d0;
    background-color: black;
    position: relative;
    display: flex;
    flex-direction: column;
    align-content: space-around;
    font-family: 'Montserrat', sans-serif;


}

.block2{
    $bgcolor: #21094bdb, #1e0c41cf;
    background: linear-gradient($bgcolor) top center/ $content-width 100% no-repeat, url(./img/bg2.png) center/auto 100% no-repeat, ;
    background-blend-mode: multiply;
    overflow: hidden;
    height: auto;
    box-sizing: border-box;
    @media screen and (max-width:1140px) {
    background: linear-gradient(#0b0421, rgba(83, 10, 179, 0.308))top center/ 92% 100% no-repeat, url(./img/bg2.png) center/auto 100% no-repeat, ;            }
    @media screen and (max-width:992px) {
        width: 92%;
    }
    @media screen and (max-width:768px) {
        background: linear-gradient(#0b0421, rgba(83, 10, 179, 0.308))top center/ 98% 100% no-repeat, url(./img/bg2.png) center/auto 100% no-repeat, ;
    }
    @media screen and (max-width:576px) {
        background: linear-gradient(#0b0421, rgba(83, 10, 179, 0.308))top center/ 100% 100% no-repeat, url(./img/bg2.png) center/auto 100% no-repeat, ;
    }
    h2{
        text-align: right;
        color: #aca5d7;
        text-shadow: 0.04em 0.06em #594aaf;
    }
    h3{
        text-align: right;
        color: #aca5d7;
        text-shadow: 0.04em 0.06em #594aaf;
    }
    #molot {
        position: absolute;
        bottom: -190px;
        z-index: -2;
        height: 600px;
        right: -200px;
    }
    .block2__blur{
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        margin: 0 auto;
        width: 100%;
         color: #03011bb2;
        background: $block2blurcolor;
        backdrop-filter: blur(4px);
        height: 100%;
    }
    .block2-list {

        margin-top: 60px;
        z-index: 5;
        color: ghostwhite;
        .block2-list1{
            margin-left:1em;
            font-size: 1.1em;
        }
        .block2-list2 {
            $list2fontsize:1.2em;
            margin-left: 0px;
            list-style: none;
            line-height: 1.7em;
            color: white;
            text-transform: uppercase;
            font-weight: 700;
            display: block;

            
        }

    }
}
.feedback-elems{
    margin: 0 auto;
    width: 650px;
    min-height: 500px;

}

.feedback-elem{
    display: flex;
    height: max-content;
    align-items: center;
    position: relative;
    height: 120%;
    margin-bottom: -43px;

}
.feedback-elem__photo{
    background-image: url(./img/feedback__photo.png);
    height: 180px;
    width: 180px;
    margin-right: -90px;
    background-size: cover;

}
.feedback-elem__background{
    position: relative;
    z-index: -1;
    border-top: 133px solid $feedback__elem-background;
    border-left: 335px solid $feedback__elem-background;
    border-right: 57px solid transparent;
    background-blend-mode: screen;
}
.feedback-elem__text{
    position: absolute;
    right:56px;
    top:13px;
    font-size: $feedback__text;
    width: 240px;
}
.feedback-elem__info{
    position: relative;

}
.feedback{
    background-image: url('./img/4.jpg');
    @extend %block-background;
    .content{
        padding: 10px 10px;
    }
}
.feedback-elem--reverse{
    flex-direction: row-reverse;
    justify-content: start;
    margin-left: 57px;
}
.feedback-elem__photo--reverse{
    @extend .feedback-elem__photo;
    margin-right: 0px;
}
.feedback-elem__background--reverse{
    position: relative;
    z-index: -1;
    margin-right: -90px;
    border-top: 133px solid $feedback__elem-background;
    border-left: 57px solid transparent;
    border-right: 335px solid $feedback__elem-background;
}
.feedback-elem__text--reverse{
    @extend .feedback-elem__text;
    position: absolute;
    right:0px;
    font-size: $feedback__text;
    width: 240px;
    text-align: right;
}
.title--biege{
    @extend h2;
    color: $biegeColor;
    text-shadow: $darkblueColor -3px -3px;
    text-align: right;
}
.block--contacts{
    @extend .block;
    overflow: visible;
    background-image: url('./img/map.jpg');
    height: 620px;
    background-position: bottom center;
    background-size: auto 86%;
}
.registration-container{
    position: absolute;
    top: 5%;
    right: -3%;
}
.registration-form{
    box-shadow: $colorBlue 10px 10px;
    box-sizing: border-box;
    padding: 5px 5px 5px 5px;
    width: 390px;
    height: 340px;
    margin: 5px 5px 20px;
    background-color: whitesmoke;

}
.registration-form__title{
    @extend .title--white;
    color: $darkblueColor;
    font-size: 1.5rem;
    text-align: right;
    margin: 0 47px 0 0;
}
.registration-form__form{
    display: flex;
    margin: 47px auto 67px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 35%;
    width: 60%;
    
    input{
        background-color: $lightGray;
        border: none;
        height: 30px;
        width: 100%;
    }
}
.registration-form__button{
    border: none;
    font-weight: 800;
    text-transform: uppercase;
    font-size: 1.1em;
    width: 100%;
    height: 50px;
    background-image: url('./img/button.jpg');
    color:whitesmoke;
    }
    
    

.adress{
    color:white;
    $width: 260px;
    $height: 180px;
    box-sizing: border-box;
    padding: 36px 0 10px 25px;
    width: $width;
    height: $height;
    background-color: $biegeColorTransparent;
}
.adress__top{
    margin-bottom: 33px;
}
.footer{
    height: 180px;
    width: 100%;
}
.footer-container{
    margin: 5px auto;
    width: 810px;
    height: 90%;
    display: flex;
    justify-content: space-between;
}

.footer__left{
    margin: 0px 10px;
    display: flex;
    align-items: center;
    width: 420px;
}
.footer-logo{
    height: 100%;
}
.footer__text{
    width: 233px;
    @extend h4;
    font-size: 1.5em;
    font-weight: 600;
    margin: 5px 8px;
}
.footer__right{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

}
.footer-right-text{
    text-align: right;


}

