@import url('https://fonts.googleapis.com/css2?family=Luxurious+Roman&family=Montserrat:wght@200&family=Open+Sans:wdth,wght@96.5,800&family=Raleway:wght@228&family=Roboto:wght@300&family=Rubik+Mono+One&display=swap');
 body {
    font-size: 30px;
    color: #d0d0d0;
    background-color: black;
    background-image: url(./img/back.png);
    position: relative;
    display: flex;
    flex-direction: column;
    align-content: space-around;
}

.content {
    width: 65%;
    min-width: 20rem;
    height: 100%;
    /* font-size: 3em; */
    margin: 0 auto;
    padding-top: 0.20000000000000015em;
    padding-left: 1.3999999999999995em;
    box-sizing: border-box;
    /* background-size: 100% 100%; */
    background-position: right;
    background-repeat: no-repeat;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    height: 30%;
    max-width: 55%;
    padding-left: 5%;
}

h2 {
    margin: 5px 5px 0px 0px;
    /* font-size: xxx-large; */
    font-family: 'Courier New', Courier, monospace;
    text-transform: uppercase;
}

h3 {
    margin: 0px;
    /* margin-inline: initial; */
    font-family: 'Courier New', Courier, monospace;
    text-transform: uppercase;
    /* font-size: 2.3vw; */
}

p {
    /* font-size: 1.2vw; */
    padding-left: 2%;
    /* border:1px white solid; */
}

.img-arrow {
    position: absolute;
}

.block1-content {
    /* width: 100%; */
    /* height: 100%; */
    /* margin: 0 auto; */
    background-size: auto auto;
    background-position: right bottom;
    background-repeat: no-repeat;
    background-image: url(./img/femida.png);
}

header {
    z-index: 25;
    position: fixed;
    top: 0px;
    left: 0px;
    /* display: flex; */
    flex-direction: column;
    /* width: 100%; */
    /* height: 15vh; */
    /* flex-direction: column; */
    /* justify-content: space-between; */
    /* align-items: stretch; */
}

.top-blur {
    z-index: -1;
    width: 100%;
    height: 115px;
    background: #0000005C;
    position: absolute;
    top: 0px;
    backdrop-filter: blur(5px);
}

.header-top {
    /* margin: 5px 2vw 5px 0; */
    /* width: 500px; */
    height: 75px;
    /* position: relative; */
    /* right: 0px; */
    justify-content: flex-end;
    display: flex;
    /* align-self: flex-end; */
    /* right: 0px; */
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-end;
}

header .phone {
    /* right: -38vw; */
    /* position: absolute; */
    margin-right: 0 auto;
    display: flex;
    height: 80%;
    border: 1px solid #F9C789;
}

.phone-number {
    /* margin: 3px; */
    /* margin-left: 5px; */
    font-size: large;
    color: antiquewhite;
    font-family: 'Rubik Mono One', sans-serif;
    flex: 3.5;
    display: inline-block;
    text-align: center;
    align-items: center;
    padding: 0.3em 0 0 0;
}

.phone-text {
    background-color: #D3A15B;
    display: flex;
    /* justify-items: center; */
    align-items:center;
    flex: 1;
    /* padding-left: 150px; */
    text-transform: uppercase;
    justify-content: center;
    font-family: "Open-Sans", sans-serif;
    font-size: xx-small;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
}

.block1-arrow {
    background-image: url('./img/arrow.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    /* background-color: rgb(156, 48, 48); */
    /* width: min(20vw, 700px); */
    /* height: 50px; */
    max-width: 21em;
    margin: 5% 10%;
    font-size: medium;
    font-family: 'Rubik Mono One';
}
.triangle-right {
    border-top: 21px solid transparent;
    border-bottom: 21px solid transparent;
    border-left: 30px solid #9400DDD4;
}

.header {
    top: 65px;
    margin: 0 auto;
    width: 100vw;
    display: flex;
    height: 75px;
    background-size: 100% 100%;
    background-image: url('./img/header.png');
    /* background-color: #600D94A1; */
    justify-content: space-between;
}

.header-circle {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    background: #F9C789DD;
    backdrop-filter: blur(2px);
    background-clip: padding-box;
    z-index: 9999;
    border: 7px solid #F9C78933;
    align-content: center;
    justify-content: center;
    display: flex;
}

.header-circle>img {
    padding-top: 10px;
    width: 70%;
    height: 70%;
}

.header-elem {
    height: 100%;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-elem:hover {
    background: #ffd8a870;
    box-shadow: 10px rgba(255, 184, 70, 0.527);
}

.header>div {
    font-family: 'Montserrat', sans-serif;
    font-size: x-large;
    display: flex;
    font-size: min(3.2vw, 42px);
    align-items: center;
    width: 39%;
    height: 100%;
    justify-content: space-evenly;
    color: #FFF032D6;
}

.header-rightSide {
    margin-right: 19px;
}

.header-elem:active {
    background-color: #48006CD1;
}

main {
    margin-top: 5em;
}

.block {
    /* padding-top: -10em; */
    font-size: 0.6em;
    width: 100%;
    /* min-height: 400px; */
    /* height: 500px; */
    position: relative;
    /* display: flex; */
    /* border-bottom: 10px solid #F9C789; */
    /* background-repeat: no-repeat; */
    /* background-size: auto 100%; */
}



.text {
    margin-left: 5px;
    font-size: 1em;
    border-left: 1px solid #F9C789;
}

.block2 {
    background-image: url(./img/bg2.png);
    background-size: 100% 100% ;
    background-position-x: center;
    display: block;
}

.block2-content {
    color: #BCB4DD;
    background: #21005870;
    backdrop-filter: blur(4px);
}

.block2-list {
    margin-top: 20px;
    color: ghostwhite;
    /* font-size: medium; */
}

.block2-list2 {
    list-style: none;
    font-size: 1.2em;
    margin-top: -39px;
    font-style: bold;
    color: white;
}

.block2-arrow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -11px;
    width: 62%;
    max-width: 400px;
    min-width: 301px;
    background-color: #F9C789;
    height: 1.1em;
    font-size: 25px;
}

.block2-circle {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1.9em;
    width: 1.9em;
    background-image: url('./img/handcuffs.png');
    background-size: 70% 70%;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #F9C789;
    background-clip: padding-box;
    border-radius: 50%;
    margin-left: -25px;
    border-right-color: transparent;
    border-right-width: 1px;
}

.block2-circle:after {
    content: '';
    display: block;
    z-index: -1;
    background: #21005870;
    width: 115%;
    height: 115%;
    border-radius: 50%;
    position: absolute;
}

.block2-arrow-triangle-right {
    width: 0px;
    height: 0px;
    border-top: 0.55em solid transparent;
    border-bottom: 0.55em solid transparent;
    border-left: 20px solid #F9C789;
    margin-right: -20px;
}

.block2-blue>h2 {
    padding-right: 5px;
    text-align: right;
}

.block2-blue>h3 {
    line-height: 15px;
    text-align: right;
    padding-right: 5px;
}



@media screen and (max-width: 700px) {
    header {
        position: static;
        height: 6em;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    main {
    margin-top: 2em;
    padding-left: 0em;
}

}
