$selection-arrow-height: 40px;
$selection-arrow-width: 400px;
$arrow-color: #c69c6d;
$darkblueColor:#594aaf;
$lightBiegeColor: #b58e65;
$colorBlue: #594aaf;
$biegeColor: #c69c6d;
$block2blurcolor: linear-gradient(#5e45cfb4, #5433e644);
$biegeColorTransparent: #c69c6dd0;
$lightGray: #e6e6e6;
$leftpadding: 70px;
$padding-right:20px;
$content-width:62%;
$font-default: 'Montserrat', sans-serif;
$arrow-Color:#c69c6dd0;
$feedback__text: 0.6em;
$feedback__elem-background: #241d49f1;